*{
  margin: 0px;
}

h3{
  color: rgb(53, 52, 52) ;
  margin-top: 20px;
  margin-left: 35px;
  
}

#navbar{
  border: .005px solid rgb(221, 220, 220);
  display: flex;
  height: 60px;
  
  
}
#navbar>p{
  margin-left: 40px;
  margin-top: 22px;
  font-size: 15px;
  color: rgb(101, 100, 100);
  
}
#navbar>p:hover{
  color:  rgb(27, 26, 26) ;;
}



#navbar2{
  display:flex;
  height: 45px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
 
}

#navbar2>img{
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-top: 10px;
  
}
#dollerimg{
  width: 20px;
  height: 17px;
  margin-left: 20px;
  margin-top: 12px;
}
#navbar2>p{
  margin-left: 20px;
  margin-top: 10px;
  color: gray;
}
#pp{
  margin-top: 10px;
  margin-left: 5px;
  color: gray;
}
#ppp{
  margin-top: 12px;
  margin-left: 5px;
  color: gray;
}
#mainimg{
  margin: 100px 45% 0px ;
}
.para{
 
  
  color: rgb(79, 73, 73);
  margin-top: 10px;
}
h2{
  font-size:25px;
  margin-top: 15px;
}
#mainpage{
  text-align: center;
  width: 90%;
  margin-left: 12%;
}
#calender{
  height:30px ;
  border-radius: 5px;
  margin-right: 70%;
  margin-top: 30px;
  width: 250px;
  text-align: center;
}
